<div class="container">
  <h4>Insert a number and press "enter" key or "Load Slider" button to show a slider width customised size in pixels</h4><br>

  <input type="number" [(ngModel)]="widthSlider" placeholder="insert width value" autofocus (keyup.enter)="cargarslider()">
  <button (click)="cargarslider()">Load Slider</button>
  <button (click)="resetearSlider()">Reset Slider</button>
    <div *ngIf="anchuraToSlider">
      <slider [anchura]="anchuraToSlider"
              [etiquetas]="captions"
              (conseguirAutor)="getAutor($event)"
      ></slider>
  </div>

  <div *ngIf="autor">
    {{autor.nombre}}
  </div>

</div>

