<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p><a target="blank" href="{{web}}">Link to my Github projects</a></p>
</div>

<article class="about">
  <h2>About this project</h2>
  <p>This is a webApp built with Angular 7 for the front end, not fully responsive, and most foccused on learning the functionality between components, services, HTTP requests, libraries and backend using NodeJs express.
  The purpose of this webApp is to create projects/products with their information and display them in a organised way to be able to add, edit or remove them at anytime with just a few clicks, all the functionality is instantly with no refreshing of the app, similar to a control panel functionality. </p>
</article>