<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p><a target="blank" href="{{web}}">Pagina Web</a></p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, laborum quia temporibus vero velit facilis atque quos ipsa dolor ut dolores? Veniam facilis deserunt doloremque dolores, omnis corrupti. Molestias sunt adipisci laudantium animi doloremque eaque cum culpa illo, nesciunt, autem maxime eveniet suscipit aliquam odit assumenda a qui id iste!</p>
</article>