<header>
  
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">About me</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Projects</a></li>
    <li id="logo"><a target="blank" href="https://github.com/sergiojerezrivera">SR</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Create Projects</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Slider</a></li>
  </ul>

  
</header>


<section id="content">

  <router-outlet></router-outlet>

</section>


<footer>

   Sergio Jerez Rivera 2019 &copy;

</footer>

